<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-servicio-heading" data-cy="ServicioCreateUpdateHeading" jhiTranslate="mokealApp.servicio.home.createOrEditLabel">
        Crear o editar Servicio
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let tipoServicioRef = editForm.get('tipoServicio')!;
        <div class="mb-3">
          <label class="form-label" for="field_tipoServicio" jhiTranslate="mokealApp.servicio.tipoServicio">Tipo Servicio</label>
          <select class="form-control" name="tipoServicio" formControlName="tipoServicio" id="field_tipoServicio" data-cy="tipoServicio">
            <option [ngValue]="null">{{ 'mokealApp.TipoServicio.null' | translate }}</option>
            @for (tipoServicio of tipoServicioValues; track $index) {
              <option [value]="tipoServicio">{{ 'mokealApp.TipoServicio.' + tipoServicio | translate }}</option>
            }
          </select>
          @if (tipoServicioRef.invalid && (tipoServicioRef.dirty || tipoServicioRef.touched)) {
            <div>
              @if (editForm.get('tipoServicio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let zonaRef = editForm.get('zona')!;
        <div class="mb-3">
          <label class="form-label" for="field_zona" jhiTranslate="mokealApp.servicio.zona">Zona</label>
          <select class="form-control" name="zona" formControlName="zona" id="field_zona" data-cy="zona">
            <option [ngValue]="null">{{ 'mokealApp.ZonaTarifa.null' | translate }}</option>
            @for (zonaTarifa of zonaTarifaValues; track $index) {
              <option [value]="zonaTarifa">{{ 'mokealApp.ZonaTarifa.' + zonaTarifa | translate }}</option>
            }
          </select>
          @if (zonaRef.invalid && (zonaRef.dirty || zonaRef.touched)) {
            <div>
              @if (editForm.get('zona')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let frecuenciaRef = editForm.get('frecuencia')!;
        <div class="mb-3">
          <label class="form-label" for="field_frecuencia" jhiTranslate="mokealApp.servicio.frecuencia">Frecuencia</label>
          <select class="form-control" name="frecuencia" formControlName="frecuencia" id="field_frecuencia" data-cy="frecuencia">
            <option [ngValue]="null">{{ 'mokealApp.Frecuencia.null' | translate }}</option>
            @for (frecuencia of frecuenciaValues; track $index) {
              <option [value]="frecuencia">{{ 'mokealApp.Frecuencia.' + frecuencia | translate }}</option>
            }
          </select>
          @if (frecuenciaRef.invalid && (frecuenciaRef.dirty || frecuenciaRef.touched)) {
            <div>
              @if (editForm.get('frecuencia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let fechaRef = editForm.get('fecha')!;
        <div class="mb-3">
          <label class="form-label" for="field_fecha" jhiTranslate="mokealApp.servicio.fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (fechaRef.invalid && (fechaRef.dirty || fechaRef.touched)) {
            <div>
              @if (editForm.get('fecha')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let horaInicioRef = editForm.get('horaInicio')!;
        <div class="mb-3">
          <label class="form-label" for="field_horaInicio" jhiTranslate="mokealApp.servicio.horaInicio">Hora Inicio</label>
          <input
            type="text"
            class="form-control"
            name="horaInicio"
            id="field_horaInicio"
            data-cy="horaInicio"
            formControlName="horaInicio"
          />
          @if (horaInicioRef.invalid && (horaInicioRef.dirty || horaInicioRef.touched)) {
            <div>
              @if (editForm.get('horaInicio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('horaInicio')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '5' }"
                  >Este campo no puede superar más de 5 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let duracionHorasRef = editForm.get('duracionHoras')!;
        <div class="mb-3">
          <label class="form-label" for="field_duracionHoras" jhiTranslate="mokealApp.servicio.duracionHoras">Duracion Horas</label>
          <input
            type="number"
            class="form-control"
            name="duracionHoras"
            id="field_duracionHoras"
            data-cy="duracionHoras"
            formControlName="duracionHoras"
          />
          @if (duracionHorasRef.invalid && (duracionHorasRef.dirty || duracionHorasRef.touched)) {
            <div>
              @if (editForm.get('duracionHoras')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('duracionHoras')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let numTrabajadoresRef = editForm.get('numTrabajadores')!;
        <div class="mb-3">
          <label class="form-label" for="field_numTrabajadores" jhiTranslate="mokealApp.servicio.numTrabajadores">Num Trabajadores</label>
          <input
            type="number"
            class="form-control"
            name="numTrabajadores"
            id="field_numTrabajadores"
            data-cy="numTrabajadores"
            formControlName="numTrabajadores"
          />
          @if (numTrabajadoresRef.invalid && (numTrabajadoresRef.dirty || numTrabajadoresRef.touched)) {
            <div>
              @if (editForm.get('numTrabajadores')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('numTrabajadores')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let estadoRef = editForm.get('estado')!;
        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="mokealApp.servicio.estado">Estado</label>
          <select class="form-control" name="estado" formControlName="estado" id="field_estado" data-cy="estado">
            <option [ngValue]="null">{{ 'mokealApp.EstadoServicio.null' | translate }}</option>
            @for (estadoServicio of estadoServicioValues; track $index) {
              <option [value]="estadoServicio">{{ 'mokealApp.EstadoServicio.' + estadoServicio | translate }}</option>
            }
          </select>
          @if (estadoRef.invalid && (estadoRef.dirty || estadoRef.touched)) {
            <div>
              @if (editForm.get('estado')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let direccionRef = editForm.get('direccion')!;
        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="mokealApp.servicio.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          @if (direccionRef.invalid && (direccionRef.dirty || direccionRef.touched)) {
            <div>
              @if (editForm.get('direccion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Este campo no puede superar más de 200 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let municipioRef = editForm.get('municipio')!;
        <div class="mb-3">
          <label class="form-label" for="field_municipio" jhiTranslate="mokealApp.servicio.municipio">Municipio</label>
          <input type="text" class="form-control" name="municipio" id="field_municipio" data-cy="municipio" formControlName="municipio" />
          @if (municipioRef.invalid && (municipioRef.dirty || municipioRef.touched)) {
            <div>
              @if (editForm.get('municipio')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let notasRef = editForm.get('notas')!;
        <div class="mb-3">
          <label class="form-label" for="field_notas" jhiTranslate="mokealApp.servicio.notas">Notas</label>
          <input type="text" class="form-control" name="notas" id="field_notas" data-cy="notas" formControlName="notas" />
          @if (notasRef.invalid && (notasRef.dirty || notasRef.touched)) {
            <div>
              @if (editForm.get('notas')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '1000' }"
                  >Este campo no puede superar más de 1000 caracteres.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_precioTotal" jhiTranslate="mokealApp.servicio.precioTotal">Precio Total</label>
          <input
            type="number"
            class="form-control"
            name="precioTotal"
            id="field_precioTotal"
            data-cy="precioTotal"
            formControlName="precioTotal"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descuento" jhiTranslate="mokealApp.servicio.descuento">Descuento</label>
          <input type="number" class="form-control" name="descuento" id="field_descuento" data-cy="descuento" formControlName="descuento" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cliente" jhiTranslate="mokealApp.servicio.cliente">Cliente</label>
          <select
            class="form-control"
            id="field_cliente"
            data-cy="cliente"
            name="cliente"
            formControlName="cliente"
            [compareWith]="compareCliente"
          >
            @if (!editForm.get('cliente')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (clienteOption of clientesSharedCollection(); track $index) {
              <option [ngValue]="clienteOption">{{ clienteOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['cliente'])!.invalid && (editForm.get(['cliente'])!.dirty || editForm.get(['cliente'])!.touched)) {
          <div>
            @if (editForm.get(['cliente'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_tarifa" jhiTranslate="mokealApp.servicio.tarifa">Tarifa</label>
          <select
            class="form-control"
            id="field_tarifa"
            data-cy="tarifa"
            name="tarifa"
            formControlName="tarifa"
            [compareWith]="compareTarifa"
          >
            <option [ngValue]="null"></option>
            @for (tarifaOption of tarifasSharedCollection(); track $index) {
              <option [ngValue]="tarifaOption">{{ tarifaOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_trabajadoreses" jhiTranslate="mokealApp.servicio.trabajadores">Trabajadores</label>
          <select
            class="form-control"
            id="field_trabajadoreses"
            data-cy="trabajadores"
            multiple
            name="trabajadoreses"
            formControlName="trabajadoreses"
            [compareWith]="compareTrabajador"
          >
            @for (trabajadorOption of trabajadorsSharedCollection(); track $index) {
              <option [ngValue]="trabajadorOption">{{ trabajadorOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
