<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (factura(); as facturaRef) {
      <div>
        <h2 data-cy="facturaDetailsHeading"><span jhiTranslate="mokealApp.factura.detail.title">Factura</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ facturaRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.numero">Numero</span></dt>
          <dd>
            <span>{{ facturaRef.numero }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.fechaEmision">Fecha Emision</span></dt>
          <dd>
            <span>{{ facturaRef.fechaEmision | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.fechaVencimiento">Fecha Vencimiento</span></dt>
          <dd>
            <span>{{ facturaRef.fechaVencimiento | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.baseImponible">Base Imponible</span></dt>
          <dd>
            <span>{{ facturaRef.baseImponible }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.iva">Iva</span></dt>
          <dd>
            <span>{{ facturaRef.iva }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.total">Total</span></dt>
          <dd>
            <span>{{ facturaRef.total }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.estado">Estado</span></dt>
          <dd>
            <span [jhiTranslate]="'mokealApp.EstadoFactura.' + (facturaRef.estado ?? 'null')">{{
              { null: '', BORRADOR: 'BORRADOR', EMITIDA: 'EMITIDA', PAGADA: 'PAGADA', CANCELADA: 'CANCELADA' }[facturaRef.estado ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.notas">Notas</span></dt>
          <dd>
            <span>{{ facturaRef.notas }}</span>
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.servicio">Servicio</span></dt>
          <dd>
            @if (factura()!.servicio) {
              <div>
                <a [routerLink]="['/servicio', factura()!.servicio?.id, 'view']">{{ facturaRef.servicio?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="mokealApp.factura.cliente">Cliente</span></dt>
          <dd>
            @if (factura()!.cliente) {
              <div>
                <a [routerLink]="['/cliente', factura()!.cliente?.id, 'view']">{{ facturaRef.cliente?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/factura', facturaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
