<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tarifa-heading" data-cy="TarifaCreateUpdateHeading" jhiTranslate="mokealApp.tarifa.home.createOrEditLabel">
        Crear o editar Tarifa
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let zonaRef = editForm.get('zona')!;
        <div class="mb-3">
          <label class="form-label" for="field_zona" jhiTranslate="mokealApp.tarifa.zona">Zona</label>
          <select class="form-control" name="zona" formControlName="zona" id="field_zona" data-cy="zona">
            <option [ngValue]="null">{{ 'mokealApp.ZonaTarifa.null' | translate }}</option>
            @for (zonaTarifa of zonaTarifaValues; track $index) {
              <option [value]="zonaTarifa">{{ 'mokealApp.ZonaTarifa.' + zonaTarifa | translate }}</option>
            }
          </select>
          @if (zonaRef.invalid && (zonaRef.dirty || zonaRef.touched)) {
            <div>
              @if (editForm.get('zona')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let tipoServicioRef = editForm.get('tipoServicio')!;
        <div class="mb-3">
          <label class="form-label" for="field_tipoServicio" jhiTranslate="mokealApp.tarifa.tipoServicio">Tipo Servicio</label>
          <select class="form-control" name="tipoServicio" formControlName="tipoServicio" id="field_tipoServicio" data-cy="tipoServicio">
            <option [ngValue]="null">{{ 'mokealApp.TipoServicio.null' | translate }}</option>
            @for (tipoServicio of tipoServicioValues; track $index) {
              <option [value]="tipoServicio">{{ 'mokealApp.TipoServicio.' + tipoServicio | translate }}</option>
            }
          </select>
          @if (tipoServicioRef.invalid && (tipoServicioRef.dirty || tipoServicioRef.touched)) {
            <div>
              @if (editForm.get('tipoServicio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let precioFirstHoraRef = editForm.get('precioFirstHora')!;
        <div class="mb-3">
          <label class="form-label" for="field_precioFirstHora" jhiTranslate="mokealApp.tarifa.precioFirstHora">Precio First Hora</label>
          <input
            type="number"
            class="form-control"
            name="precioFirstHora"
            id="field_precioFirstHora"
            data-cy="precioFirstHora"
            formControlName="precioFirstHora"
          />
          @if (precioFirstHoraRef.invalid && (precioFirstHoraRef.dirty || precioFirstHoraRef.touched)) {
            <div>
              @if (editForm.get('precioFirstHora')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precioFirstHora')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let precioHoraAdicionalRef = editForm.get('precioHoraAdicional')!;
        <div class="mb-3">
          <label class="form-label" for="field_precioHoraAdicional" jhiTranslate="mokealApp.tarifa.precioHoraAdicional"
            >Precio Hora Adicional</label
          >
          <input
            type="number"
            class="form-control"
            name="precioHoraAdicional"
            id="field_precioHoraAdicional"
            data-cy="precioHoraAdicional"
            formControlName="precioHoraAdicional"
          />
          @if (precioHoraAdicionalRef.invalid && (precioHoraAdicionalRef.dirty || precioHoraAdicionalRef.touched)) {
            <div>
              @if (editForm.get('precioHoraAdicional')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precioHoraAdicional')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let minimoHorasRef = editForm.get('minimoHoras')!;
        <div class="mb-3">
          <label class="form-label" for="field_minimoHoras" jhiTranslate="mokealApp.tarifa.minimoHoras">Minimo Horas</label>
          <input
            type="number"
            class="form-control"
            name="minimoHoras"
            id="field_minimoHoras"
            data-cy="minimoHoras"
            formControlName="minimoHoras"
          />
          @if (minimoHorasRef.invalid && (minimoHorasRef.dirty || minimoHorasRef.touched)) {
            <div>
              @if (editForm.get('minimoHoras')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('minimoHoras')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_precioPorKm" jhiTranslate="mokealApp.tarifa.precioPorKm">Precio Por Km</label>
          <input
            type="number"
            class="form-control"
            name="precioPorKm"
            id="field_precioPorKm"
            data-cy="precioPorKm"
            formControlName="precioPorKm"
          />
        </div>

        @let activaRef = editForm.get('activa')!;
        <div class="mb-3">
          <label class="form-label" for="field_activa" jhiTranslate="mokealApp.tarifa.activa">Activa</label>
          <input type="checkbox" class="form-check" name="activa" id="field_activa" data-cy="activa" formControlName="activa" />
          @if (activaRef.invalid && (activaRef.dirty || activaRef.touched)) {
            <div>
              @if (editForm.get('activa')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
