<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" jhiTranslate="mokealApp.cliente.home.createOrEditLabel">
        Crear o editar Cliente
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nombreRef = editForm.get('nombre')!;
        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="mokealApp.cliente.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (nombreRef.invalid && (nombreRef.dirty || nombreRef.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('nombre')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let telefonoRef = editForm.get('telefono')!;
        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="mokealApp.cliente.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
          @if (telefonoRef.invalid && (telefonoRef.dirty || telefonoRef.touched)) {
            <div>
              @if (editForm.get('telefono')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('telefono')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Este campo no puede superar más de 20 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="mokealApp.cliente.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let nifCifRef = editForm.get('nifCif')!;
        <div class="mb-3">
          <label class="form-label" for="field_nifCif" jhiTranslate="mokealApp.cliente.nifCif">Nif Cif</label>
          <input type="text" class="form-control" name="nifCif" id="field_nifCif" data-cy="nifCif" formControlName="nifCif" />
          @if (nifCifRef.invalid && (nifCifRef.dirty || nifCifRef.touched)) {
            <div>
              @if (editForm.get('nifCif')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Este campo no puede superar más de 20 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let direccionRef = editForm.get('direccion')!;
        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="mokealApp.cliente.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
          @if (direccionRef.invalid && (direccionRef.dirty || direccionRef.touched)) {
            <div>
              @if (editForm.get('direccion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '200' }"
                  >Este campo no puede superar más de 200 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let municipioRef = editForm.get('municipio')!;
        <div class="mb-3">
          <label class="form-label" for="field_municipio" jhiTranslate="mokealApp.cliente.municipio">Municipio</label>
          <input type="text" class="form-control" name="municipio" id="field_municipio" data-cy="municipio" formControlName="municipio" />
          @if (municipioRef.invalid && (municipioRef.dirty || municipioRef.touched)) {
            <div>
              @if (editForm.get('municipio')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Este campo no puede superar más de 100 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let codigoPostalRef = editForm.get('codigoPostal')!;
        <div class="mb-3">
          <label class="form-label" for="field_codigoPostal" jhiTranslate="mokealApp.cliente.codigoPostal">Codigo Postal</label>
          <input
            type="text"
            class="form-control"
            name="codigoPostal"
            id="field_codigoPostal"
            data-cy="codigoPostal"
            formControlName="codigoPostal"
          />
          @if (codigoPostalRef.invalid && (codigoPostalRef.dirty || codigoPostalRef.touched)) {
            <div>
              @if (editForm.get('codigoPostal')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '10' }"
                  >Este campo no puede superar más de 10 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let notasRef = editForm.get('notas')!;
        <div class="mb-3">
          <label class="form-label" for="field_notas" jhiTranslate="mokealApp.cliente.notas">Notas</label>
          <input type="text" class="form-control" name="notas" id="field_notas" data-cy="notas" formControlName="notas" />
          @if (notasRef.invalid && (notasRef.dirty || notasRef.touched)) {
            <div>
              @if (editForm.get('notas')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '500' }"
                  >Este campo no puede superar más de 500 caracteres.</small
                >
              }
            </div>
          }
        </div>

        @let activoRef = editForm.get('activo')!;
        <div class="mb-3">
          <label class="form-label" for="field_activo" jhiTranslate="mokealApp.cliente.activo">Activo</label>
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
          @if (activoRef.invalid && (activoRef.dirty || activoRef.touched)) {
            <div>
              @if (editForm.get('activo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
